.footer-title{
    color: #fff;
    font-size: 25px;
    letter-spacing: 2px;
    margin-bottom: 35px;
}
.footer-sub-t{
    color:#daa37f;
    font-size: 14px;
    letter-spacing: 2px;
}
.footer-text{
    color:#d7d7d7;
    font-size: 10px;
}

.container-footer{
    background-color: rgb(33, 37, 41);
    display: flex;
    flex-wrap: wrap;
    height: 500px;
    margin:0;
    .half{
        box-sizing: border-box;
        height: 100%;
        padding: 100px 140px;
    }
    .footer-left{
        background-image: url(section_bg_7.jpg);
        background-position: left center;
        background-repeat: no-repeat;
        background-size: cover;
        width: 50%;
    }
    .footer-right{
        width: 50%;
    }
}


