@import url('https://fonts.googleapis.com/css?family=Nunito&display=swap');
@import url('https://fonts.googleapis.com/css?family=Nunito|Oswald&display=swap');

h2, h3, h4{
    font-family: 'Oswald', sans-serif;
}

p{
    font-family: 'Nunito', sans-serif;
}

.images-container{
    display: flex;
    flex-direction: row;
    .image{
        background-size: cover;
        background-position: center;
        height: 500px;
        width: 100%;
    }
    .macaron{
        background-image: url(coffee1.jpg);
    }
    .cup{
        background-image: url(coffee2.jpg);
    }
    .coffee{
        background-image: url(imagenC.jpg);
    }
}